.label{
    -fx-fill: blue;
}

.infopanel {
    -fx-background-color: burlywood;
}

.reklamok {
    -fx-fill: red;
}

.pane{
    -fx-background-image: url("imgs/vidampark.jpeg");
}

.menu {
    -fx-background-color: #a5fffc;
    -fx-opacity: 0.3;
}

.btn {
    -fx-background-color: #99ffff;
    -fx-background-radius: 3 3 3 3;
    -fx-font-size: 1.2em;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 0 3 3 0;
    -fx-border-radius: 10px ;
}

.btn:hover{
    -fx-background-color: #ddffff;
    -fx-opacity: 0.5;
}

#vattacukros{
    -fx-background-image: url("imgs/vattacukros.jpeg");
}

#hullamvasut{
    -fx-background-image: url("imgs/hullamvasut.jpeg");
}

#szellemvasut{
    -fx-background-image: url("imgs/szellemvasut.jpeg");
}

#korhinta{
    -fx-background-image: url("imgs/korhinta.jpeg");
}

#csonakazo{
    -fx-background-image: url("imgs/csonakazo.jpeg");
}

#napVege{
    -fx-background-image: url("imgs/homokora.jpeg");
}
