
.infopanel {
    -fx-background-color: burlywood;
}

.megrendelt {
    -fx-text-fill: red;
}

.reklamok {
    -fx-fill: red;
}

AnchorPane {
    -fx-background-color: aquamarine;
}

.menu {
    -fx-background-color: #a5fffc;
}

Button {
    -fx-background-color: #7093fa;
    -fx-background-radius: 3 3 3 3;
    -fx-font-size: 1.2em;
    -fx-text-fill: white;
    -fx-padding: 10px;
}

Button:hover {
    -fx-text-fill: #7093fa;
    -fx-background-color: white;
}

#vattacukros {
    -fx-background-image: url("imgs/vattacukros.jpeg");
}

#hullamvasut {
    -fx-background-image: url("imgs/hullamvasut.jpeg");
}

#szellemvasut {
    -fx-background-image: url("imgs/szellemvasut.jpeg");
}

#korhinta {
    -fx-background-image: url("imgs/korhinta.jpeg");
}

#csonakazo {
    -fx-background-image: url("imgs/csonakazo.jpeg");
}

#napVege {
    -fx-background-image: url("imgs/homokora.jpeg");
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);
    -fx-text-fill: #ff1a43;
}

.list-cell {
    -fx-text-fill: black;
}

.list-cell:odd {
    -fx-background-color: white;
}

.list-cell:even {
    -fx-background-color: #5e9dff;
}

.list-cell:filled:hover {
    -fx-background-color: #5e9dff;
    -fx-text-fill: white;
}

TextField {
    -fx-background-color: #7093fa;
    -fx-text-fill: white;
    -fx-border-color: orange;
    -fx-border-radius: 3px 3px;
    -fx-font-weight: bolder;
}

Label {
    -fx-font-style: italic;
}

.check-box .box {
    -fx-background-color: grey;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #28a3f4;
}

.choice-box .context-menu {
    -fx-background-color: #7093fa;
}

.choice-box .menu-item:focused {
    -fx-background-color: #ffbc65;
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.choice-box {
    -fx-background-color: #7093fa;
    -fx-mark-color: #ffbc65;
}

.choice-box > .label {
    -fx-text-fill: white;
}

.player {
    -fx-font-weight: bolder;
    -fx-text-fill: #1852ff;
    -fx-font-size: 20px;
    -fx-text-alignment: right;
}

.inf {
    -fx-text-fill: #ff5454;
}
